---
const { props } = Astro.props;

interface Values {
  title: string;
  description: string;
}
---

{
  props.values.map((value: Values) => (
    <div class="col-six md-six tab-full item-service" data-aos="fade-up">
      <h4>{value.title}</h4>
      <p>{value.description}</p>
    </div>
  ))
}
