---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Gallery from "@/components/Gallery.astro";
---

<BaseLayout>
  <section id="works" class="s-works page-hero target-section">
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full md-full tab-full mob-full">
        <h3 data-num="01" class="subhead">Careers</h3>
        <h1 class="display-1">Join our growing team</h1>
        <p class="lead">
          We are looking for motivated individuals. <br /> Work with amazing people
          to build and shape great brands.
        </p>
      </div>
    </div>
  </section>

  <section id="careers-parallax" class="s-stats parallax-work">
    <div
      class="row stats-block block-1-4 block-m-1-2 block-mob-full"
      data-aos="fade-up">
    </div>
  </section>

  <section class="career-showcase block-1-4 block-m-1-3 block-tab-1-2">
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h1 class="display-1">Current vacancies</h1>
      </div>
    </div>

    <div
      id="career-card-01"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-01.jpg" alt="Career Image 01" />
      </a>
    </div>
    <div
      id="career-card-02"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-02.jpg" alt="Career Image 02" />
      </a>
    </div>
    <div
      id="career-card-03"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-03.jpg" alt="Career Image 03" />
      </a>
    </div>
    <div
      id="career-card-04"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-04.jpg" alt="Career Image 04" />
      </a>
    </div>
    <div
      id="career-card-05"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-05.jpg" alt="Career Image 05" />
      </a>
    </div>
    <div
      id="career-card-06"
      class="col-six md-six tab-full career-card"
      data-aos="fade-up">
      <a href="application.html">
        <img src="/static/images/career-img-06.jpg" alt="Career Image 06" />
      </a>
    </div>
  </section>

  <section id="team-players" class="career-statement page-hero target-section">
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h3 data-num="02" class="subhead">A TEAM OF A-PLAYERS</h3>
        <h1 class="display-1 display-1--light">
          Do great work alongside other talented, passionate, and hungry
          creatives.
        </h1>
      </div>
    </div>
  </section>

  <section id="workspace" class="s-works target-section">
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h3 data-num="03" class="subhead">Workspace</h3>
        <h1 class="display-1">Our people</h1>
        <p class="lead">
          A talented team of individuals, doing what we love for brands that get
          it.
        </p>
      </div>
    </div>

    <div class="portfolio block-1-4 block-m-1-3 block-tab-1-2 collapse">
      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/JLB_2552.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/CTV_4550.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/JLB_2554.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/CTV_4536.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/CTV_4599.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/JLB_2665.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/JLB_2673.jpg"
        alt="workspace-with-people"
      />

      <Gallery
        title="IntegrityNet Neoworkers"
        caption="IntegrityNet Neoworkers"
        src="/static/images/JLB_2653.jpg"
        alt="workspace-with-people"
      />
    </div>
  </section>
</BaseLayout>
