---
import Header from "@/components/Header.astro";
---
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Article · Solutions & Services</title>
    <meta name="description" content="Passion for Excellence and Dedication to Rendering Quality Service.">
    <meta name="author" content="IntegrityNet Group of Companies">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css?v=1.1">
    <link rel="stylesheet" href="/css/custom.css?v=1.1">

    <script is:inline src="/js/modernizr.js"></script>
    <script is:inline src="/js/pace.min.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body id="top" class="inet-article pace-done">

    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>

    <Header />

    <section id="construction" class="s-works target-section">
      <div class="row section-header">
        <div class="col-six md-six tab-four mob-full">
          <img src="/static/images/undraw-under-construction.svg" alt="under-construction">
        </div>
        <div class="col-six md-six tab-eight mob-full">
          <h2>WEB GALLERY UNDER CONSTRUCTION</h2>
          <p>Welcome to IntegrityNet, we are currently working on this site.</p>
          <a href="javascript:history.go(-1)" class="btn inet-btn-main-red">Back</a>
        </div>
      </div>
    </section>

    <script is:inline src="/js/jquery-3.2.1.min.js"></script>
    <script is:inline src="/js/plugins.js"></script>
    <script is:inline src="/js/main.js"></script>
    <script is:inline src="/js/index.js"></script>
    <script is:inline src="/js/timeline.js"></script>
    <script is:inline src="/js/typewriter.js"></script>
  </body>
</html>