---
const year = new Date().getFullYear();
const props = Astro.props;
---

<footer>
  <div class="row">
    <div class="col-full cl-copyright">
      <span>
        Copyright &copy; 2009 – {year}
        IntegrityNet Solutions & Services. All Rights Reserved | <a
          href="https://colorlib.com"
          target="_blank"><i class="fas fa-copyright"></i></a
        >
      </span>
    </div>
  </div>

  <div class="cl-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"></a>
  </div>
</footer>
