---

---

  <header class="s-header">
      <div class="row">
          <div class="header-logo">
              <a class="site-logo" href="index.html">
                  <img src="/static/images/integritynet-logo-red.png" alt="Homepage" class="image-logo">
              </a>
          </div>

          <nav class="header-nav-wrap">
              <ul class="header-nav">
                  <li class="current active"><a href="index.html">Home</a></li>
                  <li><a href="solutions.html">Solutions</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </nav>

          <a class="header-menu-toggle" href="#0">
              <span class="header-menu-icon"></span>
          </a>
      </div>
  </header>