---
const year = new Date().getFullYear();
---
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>IntegrityNet · Solutions & Services</title>
    <meta name="description" content="Passion for Excellence and Dedication to Rendering Quality Service.">
    <meta name="author" content="IntegrityNet Group of Companies">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css?v=1.1">
    <link rel="stylesheet" href="css/custom.css?v=1.1">

    <script is:inline src="js/modernizr.js"></script>
    <script is:inline src="js/pace.min.js"></script>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>

  <body id="top" class="inet-home">
    
    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>

    <header class="s-header">
        <div class="row">
            <div class="header-logo">
                <a class="site-logo" href="index.html">
                    <img src="/static/images/integritynet-logo-red.png" alt="Homepage" class="image-logo">
                </a>
            </div>

            <nav class="header-nav-wrap">
                <ul class="header-nav">
                    <li class="current active"><a href="index.html">Home</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <a class="header-menu-toggle" href="#0">
                <span class="header-menu-icon"></span>
            </a>
        </div>
    </header>

    <slot />

    <footer>
      <div class="row">
          <div class="col-full cl-copyright">
              <span>
                  Copyright &copy; 2009 – {year}
                  IntegrityNet Solutions & Services. All Rights Reserved | <a href="https://colorlib.com" target="_blank"><i class="fas fa-copyright"></i></a>
              </span>
          </div>
      </div>

      <div class="cl-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
      </div>
    </footer>

    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">

      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs"
            title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>

        </div>

    </div>

    <script is:inline src="js/jquery-3.2.1.min.js"></script>
    <script is:inline src="js/plugins.js"></script>
    <script is:inline src="js/main.js"></script>
    <script is:inline src="js/index.js"></script>
    
    <script is:inline src="js/typewriter.js"></script>
  </body>
</html>